# Celery secrets/config
RT_REDIS_PASSWORD=super_secret_redis_password_here
RT_CELERY_BACKEND=redis://:super_secret_redis_password_here@redis:6379/0
RT_FLOWER_PORT=8088

# Empire specific config
RT_EMPIRE_PATH=https://empire2:1337/api/
RT_EMPIRE_USERNAME=hello_there
RT_EMPIRE_PASSWORD=g3ner4l_ken0bi:O

# Splunk specific config
RT_SPLUNK_PATH=https://localhost:8089
RT_SPLUNK_TOKEN=splunk_token_here

# Api Specific config for FluentBIt 
RT_API_TOKEN=placeholder_for_future_use
RT_API_HOST=192.168.38.21
RT_API_PORT=5000
RT_API_PATH=/api/v1/results/module