passwords:
  mongo_root_user: root
  mongo_reternal_user: reternal
  mongo_root_pass: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}
  mongo_reternal_pass: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}
  api_secret: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}
  jwt_secret: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}