vault:
  splunk:
    token: token_should_be_here

  ca:
    passphrase: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}

  empire2:
    password: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}

  rabbitmq:
    password: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}

  mongodb:
    root_password: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}
    password: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}

  redis:
    password: {{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}
